mixin offers()
  +b.SECTION.offers(id="offers")&attributes(attributes)
    +e.inner
      +e.SPAN.slogan Специальные предложения
      +e.H2.title Выгодные предложения для вас — не пропустите!

      +e.row
        +e.item
          +offers-content("img/transfer.jpg", "Трансфер в подарок", "Трансфер в подарок", "При проживании от двух суток в арт-отеле «АзАрт» трансфер в аэропорт в подарок!")
        +e.item
          +offers-content("img/birthday.png", "День Рождения", "День Рождения", "При бронировании проживания за неделю до и после Вашего Дня рождения, скидка 30%.")
        //- +e.item
        //-   +offers-content("img/offers-one.jpg", "Романтические выходные в Питере", "Романтические выходные", "Трое суток проживания по цене двух, при бронировании с пятницы по понедельник.")