mixin promo()
  +b.SECTION.promo&attributes(attributes)
    +e.inner
      +e.H1.title Добро пожаловать в Арт-отель «АзАрт»!
      +e.P.slogan Скидка 15% при бронировании в ИЮНЕ 2017 

    +b.form форма заказа