mixin about()
  +b.SECTION.about&attributes(attributes)
    +e.inner
      +e.row
        +e.info.--right
          +e.content
            span Об отеле
            +e.H2.title Арт-отель «АзАрт»
            p Отель расположен в самом сердце Санкт-Петербурга на Невском проспекте в 600 метрах от станции метро «Площадь Восстания» и Московского железнодорожного вокзала. 
            p Стойка регистрации открыта круглосуточно. Вокруг отеля находятся различные кафе и рестораны.
            p В Арт-отеле «Азарт» вы можете получить услуги визовой поддержки и другие дополнительные услуги. Подробности по телефону: <a href="tel:+79310028184">+7 (931) 002 81 84</a>
        +e.visual
          +e.photo-box(style="background-image: url(img/bg-about.jpg);")
      +e.row
        +e.info
          +e.content
            span Оснащение
            +e.H2.title 18 дизайнерских номеров
            p Каждый номер выполнен в индивидуальном стиле, с собственным сан-узлом и душевой кабиной. 
            p Все номера оснащены телевизором с плоским экраном и кабельным телевидением. Гостям предоставляются фен и бесплатные туалетно-косметические принадлежности (гель для душа, мыло и шампунь). 
            p На всей территории арт-отеля «АзАрт» работает бесплатный высокоскоростной Wi-Fi. Также отель предлагает завтраки.
        +e.visual.--right
          +e.photo-box(style="background-image: url(img/bg-about-2.jpg);")