mixin rooms-info()
  +b.rooms-info&attributes(attributes)
    +e.item
      +e.inner
        +e.row
          +e.title
            p В номере:
          +e.list
            ul
              li 1 большая двуспальня кровать или 2 раздельные односпальные
              li Собственная ванная комната
              li Кухня, оборудованная всем необходимым
              li Телевизор с плоским экраном и кабельным ТВ

    +e.item
      +e.inner
        +e.row
          +e.title
            p Услуги и удобства:
          +e.list
            ul
              li Высокоскоростной wi-fi на территории всего отеля предоставляется бесплатно
              li Бесплатная частная парковка на месте (предварительный заказ не требуется) 
              li Сейф
              li Вентилятор
              li Утюг и гладильные принадлежности
              li Постельное белье

    +e.item
      +e.inner
        +e.row
          +e.title
            p Ванная комната:
          +e.list
            ul
              li фен
              li полотенца
              li халат и тапочки
              li бесплатные туалетные принадлежности (гель для душа, шампунь)
              li душ
              li санузел
              li туалетная бумага

    +e.item
      +e.inner
        +e.row
          +e.title
            p Общая информация:
          +e.list
            ul
              li Паркетный пол
              li Отопление
              li Стиральная машина (в отдельной комнате)
              li Камера хранения багажа
              li Ежедневная уборка номера
              li Услуга «звонок-будильник»