mixin page-header(mod)
  +b.HEADER.page-header&attributes(attributes)
    +e.top
      +e.inner
        +e.row
          +e.logo-box
            +b.A.logo(href="index.html")
              +e.IMG.img(src="img/logo.svg")
          +e.contacts
            +e.lang.--mobile
              a(href="#" class="active") ru
              a(href="#") en
            +e.social.--mobile
              a(href="https://vk.com/public142469741" target="_blank" class="vk")
              a(href="https://www.instagram.com/hotel_azart/" target="_blank" class="insta")
            +e.address
              p Санкт-Петербург, Невский проспект 136
              a(href="#contacts") Как добраться?
            +e.phone 
              a(href="tel:+79310028184") +7 (931) 002 81 84
            +e.social.--tablet
              a(href="https://vk.com/public142469741" target="_blank" class="vk")
              a(href="https://www.instagram.com/hotel_azart/" target="_blank" class="insta")
            +e.lang.--tablet
              a(href="#" class="active") ru
              a(href="#") en
    +e.bottom
      +e.inner
        +e.row
          +e.NAV.main-nav(class= mod)
            ul
              li
                a(href="#about") Об Отеле
              li
                a(href="#offers") Акции
              li
                a(href="#excursion") Экскурсии
              li
                a(href="#rooms") Номера
              li
                a(href="#contacts") Контакты