mixin rooms-pay(mod)
  +b.SECTION.rooms-pay(class= mod)&attributes(attributes)
    +e.inner
      +e.pay
        +e.SPAN.title Принимаем к оплате
        +e.pay-systems
          +e.pay-item
            +e.IMG.img(src="img/pay/visa-dark@2x.png")
          +e.pay-item
            +e.IMG.img(src="img/pay/american-express-dark@2x.png")
          +e.pay-item
            +e.IMG.img(src="img/pay/union-pay-dark@2x.png")
          +e.pay-item
            +e.IMG.img(src="img/pay/master-card-dark@2x.png")
          +e.pay-item
            +e.IMG.img(src="img/pay/diners-club-dark@2x.png")
          +e.pay-item
            +e.IMG.img(src="img/pay/j-c-b-dark@2x.png")
          +e.pay-item
            +e.IMG.img(src="img/pay/mir-logo@2x.png")