mixin rooms-des()
  +b.SECTION.rooms-des&attributes(attributes)
    +e.inner
      +e.row
        +e.form
          p тут форма
        +e.des
          +e.H1.title Делюкс с кухней
          +e.price
            p Цена от:
            +e.SPAN.price-old 3 800
              span(class="rouble") P
            +e.SPAN.price-new 3 230
              span(class="rouble") P
          +e.P.time
            +e.SPAN.time-start Заезд 14:00
            +e.SPAN.time-end Выезд 12:00
          +e.text
            p В этом номере-студио можно пользоваться телевизором с плоским экраном и мини-кухней с плитой, микроволновой печью, электрическим чайником и холодильником.
            p Площадь номера: 20 м²