include ../../blocks/promo/promo.pug
include ../../blocks/page-header/page-header.pug
include ../../blocks/offers/offers.pug
include ../../blocks/rooms/rooms.pug
include ../../blocks/city/city.pug
include ../../blocks/contacts/contacts.pug
include ../../blocks/about/about.pug
include ../../blocks/news/news.pug
include ../../blocks/partners/partners.pug
include ../../blocks/page-footer/page-footer.pug
include ../../blocks/excursion/excursion.pug
include ../../blocks/room-info/room-info.pug
include ../../blocks/rooms-more/rooms-more.pug
include ../../blocks/room-slider/room-slider.pug
include ../../blocks/offers-content/offers-content.pug
include ../../blocks/news-item/news-item.pug
include ../../blocks/pay/pay.pug
include ../../blocks/rooms-important/rooms-important.pug
include ../../blocks/rooms-info/rooms-info.pug
include ../../blocks/rooms-slider/rooms-slider.pug
include ../../blocks/rooms-price/rooms-price.pug
include ../../blocks/rooms-pay/rooms-pay.pug
include ../../blocks/rooms-des/rooms-des.pug
include ../../blocks/rooms-all/rooms-all.pug