mixin partners()
  +b.partners&attributes(attributes)
    +e.inner
      +e.row
        +e.col
          +e.content.--recomended
            h3 Нас рекомендуют
            +b.services
              +e.item
                +e.A.link(href="https://www.booking.com/hotel/ru/azart-na-nevskom.ru.html" target="_blank")
                  img(src="/img/partners/booking.jpg", alt="booking")
              +e.item
                +e.A.link(href="http://www.101hotels.ru/main/cities/sankt-peterburg/art-otel_azart.html" target="_blank")
                  img(src="/img/partners/101hotels.jpg", alt="101hotels")
              +e.item
                +e.A.link(href="https://www.booking.com/hotel/ru/azart-na-nevskom.ru.html" target="_blank")
                  img(src="/img/partners/booking.jpg", target="_blank", alt="booking")
        +e.col
          +e.content.--partner
            h3 Партнеры
            +b.partner
              +e.item
                +e.A.link(href="" target="_blank")
                  img(src="/img/partners/logo_tax.png" alt="Таксовичков")
              +e.item
                +e.A.link(href="http://comfitel.ru/" target="_blank")
                  img(src="/img/partners/logo comfitel.png" alt="Комфитель")
              +e.item
                +e.A.link(href="https://www.boattour.ru" target="_blank")
                  img(src="/img/partners/logo_ucwt.png" alt="Единый центр водного туризма")
              +e.item
                +e.A.link(href="" target="_blank")
                  img(src="/img/partners/logo-cALEID.png" alt="Калейдоскоп - туроператор")