extends ../layout/_layoutBase.pug


block content
  main

    +booking()

  //- +page-footer('')
  //- script(src="https://wubook.net/js/wbbook.jgz")
  //- <script>
  //-   var WuBook= new _WuBook(1492614572);
  //-   var wbparams={lang: "ru", layout: "", width: 1140, height: "auto", mobile: 1, mheight: 640 };
  //-   WuBook.design_iframe("_wbord_", wbparams)
  //- </script>