extends ../layout/_layoutBase.pug

block content
  +page-header('--rooms')
    ul
      li
        a(href="/#about") Об Отеле
      li
        a(href="/#offers") Акции
      li
        a(href="/#excursion") Экскурсии
      li
        a(href="/#rooms") Номера
      li
        a(href="/#contacts") Контакты

  main
    +rooms-slider()
      +roosm-slider-item('img/rooms/double-comfort/photo1.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo4.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo5.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo6.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo7.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo8.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo9.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo12.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo13.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo14.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo15.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo16.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo17.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo18.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo19.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo20.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo21.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo22.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo23.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo24.jpg', '', '')
      +roosm-slider-item('img/rooms/double-comfort/photo25.jpg', '', '')

    div(class="page-inner")
      div(class="page-row")
        div(class="page-main")

          +rooms-des()
            +e.form
              div.form-border(class="left" id="_bn_widget_")
            +e.des
              +e.H1.title Двухместный комфорт
              +e.price
                p Цена от:
                +e.SPAN.price-old 3 800
                  span(class="rouble") P
                +e.SPAN.price-new 3 230
                  span(class="rouble") P
              +e.P.time
                +e.SPAN.time-start Заезд 14:00
                +e.SPAN.time-end Выезд 12:00
              +e.text
                p В этом номере-студио можно пользоваться телевизором с плоским экраном и кабельным телевидением.
                p Площадь номера: 12 м²

          +rooms-price()

          +rooms-important('--main')

          +rooms-pay('--main')

          +rooms-info()
            +e.item
              +e.inner
                +e.row
                  +e.title
                    p В номере:
                  +e.list
                    ul
                      li 1 большая двуспальня кровать или 2 раздельные односпальные
                      li Собственная ванная комната
                      //- li Кухня, оборудованная всем необходимым
                      li Телевизор с плоским экраном и кабельным ТВ

            +e.item
              +e.inner
                +e.row
                  +e.title
                    p Услуги и удобства:
                  +e.list
                    ul
                      li Высокоскоростной wi-fi на территории всего отеля предоставляется бесплатно
                      li Бесплатная частная парковка на месте (предварительный заказ не требуется) 
                      li Сейф
                      li Вентилятор
                      li Утюг и гладильные принадлежности
                      li Постельное белье

            +e.item
              +e.inner
                +e.row
                  +e.title
                    p Ванная комната:
                  +e.list
                    ul
                      li фен
                      li полотенца
                      //- li халат и тапочки
                      li бесплатные туалетные принадлежности (гель для душа, шампунь)
                      li душ
                      li санузел
                      li туалетная бумага

            +e.item
              +e.inner
                +e.row
                  +e.title
                    p Общая информация:
                  +e.list
                    ul
                      li Паркетный пол
                      li Отопление
                      li Стиральная машина (в отдельной комнате)
                      li Камера хранения багажа
                      li Ежедневная уборка номера
                      li Услуга «звонок-будильник»

        div(class="page-aside")
          +rooms-important('--aside')

          +rooms-pay('--aside')

    +rooms-more()

    +contacts()


  +page-footer('--rooms')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

  script(src='js/vendor.min.js')
  script(src='js/script.min.js')
  script(src="http://widget.bnovo.ru/v2/js/bnovo.js")