extends ../layout/_layoutBase.pug


block content
  +page-header()

  +promo()

  +about()

  +offers()

  +city()

  +rooms()

  +excursion()

  +news()

  +partners()

  +contacts()

  +page-footer()