extends ../layout/_layoutBase.pug


block content
  +page-header('')

  main

    +promo()

    +about()

    +offers()

    +city()

    +rooms()

    +excursion()

    +news()
      +news-item('У отеля «АзАрт» новый фирменный стиль!', '01 Мая, 2017', 'Дорогие друзья! Рады сообщить вам, что у отеля «АзАрт» изменился фирменный стиль и логотип!', 'Теперь мы стали еще более яркими и индивидуальными!')
      +news-item('Ещe одна новость от отеля «АзАрт»', '03 Мая, 2017', 'Дорогие друзья! Рады сообщить вам, что у отеля «АзАрт» изменился фирменный стиль и логотип!', '')
      +news-item('новость от отеля «АзАрт»', '05 Мая, 2017', 'Дорогие друзья! Рады сообщить вам, что у отеля «АзАрт» изменился фирменный стиль и логотип!', '')

    +partners()

    +contacts()

  +page-footer('')
  
  
