extends ../layout/_layoutBase.pug


block content
  +page-header('')
    ul
      li
        a(href="#about") Об Отеле
      li
        a(href="#offers") Акции
      li
        a(href="#excursion") Экскурсии
      li
        a(href="#rooms") Номера
      li
        a(href="#contacts") Контакты

  main

    +promo()

    +about()

    +offers()

    +city()

    +rooms()

    +excursion()

    +news()
      +news-item('У отеля «АзАрт» новый фирменный стиль!', '01 Мая, 2017', 'Дорогие друзья! Рады сообщить вам, что у отеля «АзАрт» изменился фирменный стиль и логотип!', 'Теперь мы стали еще более яркими и индивидуальными!', 'img/firstyle.jpg', 'Фирменный стиль отеля «АзАрт»')
      +news-item('Ещe одна новость от отеля «АзАрт»', '03 Мая, 2017', 'Дорогие друзья! Рады сообщить вам, что у отеля «АзАрт» изменился фирменный стиль и логотип!', '', 'img/firstyle2.jpg', 'Фирменный стиль отеля «АзАрт»')
      +news-item('новость от отеля «АзАрт»', '05 Мая, 2017', 'Дорогие друзья! Рады сообщить вам, что у отеля «АзАрт» изменился фирменный стиль и логотип!', '', 'img/firstyle.jpg', 'Фирменный стиль отеля «АзАрт»')

    +partners()

    +contacts()

  +page-footer('')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

  script(src='/js/vendor.min.js')
  script(src='/js/script.min.js')
  script(src="http://widget.bnovo.ru/v2/js/bnovo.js")

