extends ../layout/_layoutBase.pug


block content
  +page-header('--rooms')

  
      
  main
    +rooms-slider()
      +roosm-slider-item('img/rooms/single.jpg', '01', '03')
      +roosm-slider-item('img/rooms/single2.jpg', '02', '03')
      +roosm-slider-item('img/rooms/single3.jpg', '03', '03')

    div(class="page-inner")
      div(class="page-row")
        div(class="page-main")

          +rooms-des()

          +rooms-price()

          +rooms-important('--main')

          +rooms-pay('--main')

          +rooms-info()

        div(class="page-aside")
          +rooms-important('--aside')

          +rooms-pay('--aside')

    +rooms-more()

    +contacts()


  +page-footer('--rooms')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

  script(src='/js/vendor.min.js')
  script(src='/js/script.min.js')
