extends ../layout/_layoutBase.pug


block content
  +page-header('--rooms')

  main
    
    +rooms-slider()

    +rooms-des()

    +rooms-price()

    +rooms-important()

    +rooms-pay()

    +rooms-info()

    +rooms-more()

    +contacts()

  +page-footer('--rooms')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

  script(src='/js/vendor.min.js')
  script(src='/js/script.min.js')
