mixin page-footer()
  +b.FOOTER.page-footer&attributes(attributes)
    +e.inner
      +e.row
        +e.pay
          +e.SPAN.title Принимаем к оплате
          +e.pay-systems
            +e.pay-item
              +e.IMG.img(src="img/pay/visa-dark@2x.png")
            +e.pay-item
              +e.IMG.img(src="img/pay/american-express-dark@2x.png")
            +e.pay-item
              +e.IMG.img(src="img/pay/union-pay-dark@2x.png")
            +e.pay-item
              +e.IMG.img(src="img/pay/master-card-dark@2x.png")
            +e.pay-item
              +e.IMG.img(src="img/pay/diners-club-dark@2x.png")
            +e.pay-item
              +e.IMG.img(src="img/pay/j-c-b-dark@2x.png")
            +e.pay-item
              +e.IMG.img(src="img/pay/visa-dark@2x.png")
          +e.copyright
            p 
              span © 2017. Арт-отель «АзАрт». 
              span Все права защищены.
            +e.autor
              a(href="https://readymag.com/u21507909/772992/" target="_blank") Дизайн сайта Jana Zamckova
              a(href="https://github.com/kaddem" target="_blank") Разработка этого чувака
            +e.lang
              a(href="#" class="active") ru
              a(href="#") en
        +e.nav-block
          +e.SPAN.title Навигация по сайту
          +e.NAV.nav
            ul
              li
                a(href="#") Об отеле
              li
                a(href="#") Акции
              li
                a(href="#") Номера
              li
                a(href="#") Экскурсии
        +e.about
          +e.SPAN.title О нас
          p Арт-отель «АзАрт» расположен в самом сердце Санкт-Петербурга на Невском проспекте в 600 метрах от станции метро «Площадь Восстания» и Московского железнодорожного вокзала. 
          p Отель прошел классификацию объектов туристической индустрии.
          p В Арт-отеле «Азарт» вы можете получить услуги визовой поддержки и другие дополнительные услуги. Так же мы предлагаем завтраки, высокоскоростной Wi-Fi на территории всего отеля и бесплатную частную парковку.