.page-footer{
  display: block;

  &__inner {
    .container(30px);
  }

  &__row {
    .row(30px);
  }

  &__pay {
    .col(20px, left);
    .col12-12;

    @media screen and (min-width: @width_tablet){
      .col12-6;
    }

    @media screen and (min-width: @width_desktop_min){
      .col12-4;
    }
  }

  &__nav {
    display: none;

    @media screen and (min-width: @width_tablet){
      display: block;
      .col(20px, left);
      .col12-6;
    }

    @media screen and (min-width: @width_desktop_min){
      .col12-2;
      .col12-offset-1;
    }
  }

  &__about {
    display: none;

    @media screen and (min-width: @width_tablet){

    }

    @media screen and (min-width: @width_desktop_min){
      display: block;
      .col(20px, left);
      .col12-4;
      .col12-offset-1;
    }
    
  }
}