mixin rooms()
  +b.SECTION.rooms(id="rooms")&attributes(attributes)
    +e.inner
      +e.SPAN.slogan Номера
      +e.H2.title Забронируйте номер со скидкой 15%!
      +e.P.time
        +e.SPAN.time-start Заезд 14:00
        +e.SPAN.time-end Выезд 12:00

    +e.item
      +e.inner
        +e.row
          +e.visual(id="single-box")
            +e.SPAN.arrow.--prev
            +e.SPAN.arrow.--next
            +b.slider(id="single")
              +e.item
                img(src="img/rooms/single-standart/photo2.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo4.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo5.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo6.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo7.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo8.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo9.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo10.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo11.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo12.jpg", alt="Одноместный Стандарт")
              +e.item
                img(src="img/rooms/single-standart/photo13.jpg", alt="Одноместный Стандарт")
          +e.info
            +e.content

              h3 Одноместный Стандарт
              +e.price
                p Цена от:
                +e.SPAN.price-old 3 800
                  span(class="rouble") P
                +e.SPAN.price-new 3 230
                  span(class="rouble") P
                +e.SPAN.number <span>1</span>/6

              +e.description
                ul
                  li Бесплатный Wi-Fi
                  li ТВ с плоским экраном + кабельное
                  li 1 односпальная кровать
                  li Собственная ванная комната
                  li Туалетные принадлежности (гель для душа, шампунь)
                  li Фен
                  li Гладильная доска и утюг
                  li Вентилятор
                a(class="btn btn--orange" href="#") Бронировать
                +e.A.link-more(href="single-standart.html") Подробнее

    +e.item
      +e.inner
        +e.row
          +e.visual(id="double-box")
            +e.SPAN.arrow.--prev
            +e.SPAN.arrow.--next
            +b.slider(id="double")
              +e.item
                img(src="img/rooms/double-standart/photo1.jpg", alt="Двухместный комфорт без окна")
              +e.item
                img(src="img/rooms/double-standart/photo2.jpg", alt="Двухместный комфорт без окна")
              +e.item
                img(src="img/rooms/double-standart/photo3.jpg", alt="Двухместный комфорт без окна")
              +e.item
                img(src="img/rooms/double-standart/photo4.jpg", alt="Двухместный комфорт без окна")
              +e.item
                img(src="img/rooms/double-standart/photo5.jpg", alt="Двухместный комфорт без окна")

          +e.info
            +e.content
              h3 Двухместный комфорт*
              +e.price
                p Цена от:
                +e.SPAN.price-old 3 800
                  span(class="rouble") P
                +e.SPAN.price-new 3 230
                  span(class="rouble") P
                +e.SPAN.number <span>2</span>/6

              +e.description
                ul
                  li Бесплатный Wi-Fi
                  li ТВ с плоским экраном + кабельное
                  li 1 большая двуспальная кровать или 2 раздельных односпальных
                  li Собственная ванная комната
                  li Туалетные принадлежности (гель для душа, шампунь)
                  li Фен
                  li Гладильная доска и утюг
                  li Вентилятор
                a(class="btn btn--orange" href="#") Бронировать
                +e.A.link-more(href="double-standart.html") Подробнее

    +e.item
      +e.inner
        +e.row
          +e.visual(id="double-window-box")
            +e.SPAN.arrow.--prev
            +e.SPAN.arrow.--next
            +b.slider(id="double-window")
              +e.item
                img(src="img/rooms/double-comfort/photo1.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo4.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo5.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo6.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo7.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo8.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo9.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo12.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo13.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo14.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo15.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo16.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo17.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo18.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo19.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo20.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo21.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo22.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo23.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo24.jpg", alt="Двухместный комфорт")
              +e.item
                img(src="img/rooms/double-comfort/photo25.jpg", alt="Двухместный комфорт")

          +e.info
            +e.content
              h3 Двухместный комфорт
              +e.price
                p Цена от:
                +e.SPAN.price-old 3 800
                  span(class="rouble") P
                +e.SPAN.price-new 3 230
                  span(class="rouble") P
                +e.SPAN.number <span>3</span>/6

              +e.description
                ul
                  li Бесплатный Wi-Fi
                  li ТВ с плоским экраном + кабельное
                  li 1 большая двуспальная кровать или 2 раздельных односпальных
                  li Собственная ванная комната
                  li Туалетные принадлежности (гель для душа, шампунь)
                  li Фен
                  li Гладильная доска и утюг
                  li Вентилятор
                a(class="btn btn--orange" href="#") Бронировать
                +e.A.link-more(href="double-comfort.html") Подробнее

    +e.item
      +e.inner
        +e.row
          +e.visual(id="double-super-box")
            +e.SPAN.arrow.--prev
            +e.SPAN.arrow.--next
            +b.slider(id="double-super")
              +e.item
                img(src="img/rooms/double-super/photo1.jpg", alt="Улучшенный комфорт")
              +e.item
                img(src="img/rooms/double-super/photo2.jpg", alt="Улучшенный комфорт")
              +e.item
                img(src="img/rooms/double-super/photo3.jpg", alt="Улучшенный комфорт")

          +e.info
            +e.content
              h3 Улучшенный комфорт
              +e.price
                p Цена от:
                +e.SPAN.price-old 3 800
                  span(class="rouble") P
                +e.SPAN.price-new 3 230
                  span(class="rouble") P
                +e.SPAN.number <span>4</span>/6

              +e.description
                ul
                  li Бесплатный Wi-Fi
                  li ТВ с плоским экраном + кабельное
                  li 1 большая двуспальная кровать или 2 раздельных односпальных
                  li Собственная ванная комната
                  li Туалетные принадлежности (гель для душа, шампунь)
                  li Фен
                  li Гладильная доска и утюг
                  li Вентилятор
                a(class="btn btn--orange" href="#") Бронировать
                +e.A.link-more(href="double-super.html") Подробнее

    +e.item
      +e.inner
        +e.row
          +e.visual(id="family-box")
            +e.SPAN.arrow.--prev
            +e.SPAN.arrow.--next
            +b.slider(id="family")
              +e.item
                img(src="img/rooms/family/photo1.jpg", alt="Семейный номер")
              +e.item
                img(src="img/rooms/family/photo2.jpg", alt="Семейный номер")
              +e.item
                img(src="img/rooms/family/photo4.jpg", alt="Семейный номер")
              +e.item
                img(src="img/rooms/family/photo5.jpg", alt="Семейный номер")
              +e.item
                img(src="img/rooms/family/photo6.jpg", alt="Семейный номер")
              +e.item
                img(src="img/rooms/family/photo7.jpg", alt="Семейный номер")

          +e.info
            +e.content
              h3 Семейный номер
              +e.price
                p Цена от:
                +e.SPAN.price-old 3 800
                  span(class="rouble") P
                +e.SPAN.price-new 3 230
                  span(class="rouble") P
                +e.SPAN.number <span>5</span>/6

              +e.description
                ul
                  li Бесплатный Wi-Fi
                  li ТВ с плоским экраном + кабельное
                  li 1 большая двуспальная кровать 1  односпальная
                  li Собственная ванная комната
                  li Туалетные принадлежности (гель для душа, шампунь)
                  li Фен
                  li Гладильная доска и утюг
                  li Вентилятор
                a(class="btn btn--orange" href="#") Бронировать
                +e.A.link-more(href="family.html") Подробнее

    +e.item
      +e.inner
        +e.row
          +e.visual(id="delux-box")
            +e.SPAN.arrow.--prev
            +e.SPAN.arrow.--next
            +b.slider(id="delux")
              +e.item
                img(src="img/rooms/double-deluxe/photo1.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo2.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo3.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo4.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo5.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo6.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo7.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo8.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo9.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo10.jpg", alt="Делюкс с кухней")
              +e.item
                img(src="img/rooms/double-deluxe/photo11.jpg", alt="Делюкс с кухней")

          +e.info
            +e.content
              h3 Делюкс с кухней
              +e.price
                p Цена от:
                +e.SPAN.price-old 3 800
                  span(class="rouble") P
                +e.SPAN.price-new 3 230
                  span(class="rouble") P
                +e.SPAN.number <span>6</span>/6

              +e.description
                ul
                  li Бесплатный Wi-Fi
                  li ТВ с плоским экраном + кабельное
                  li 1 двуспальная кровать 
                  li Собственная ванная комната
                  li Туалетные принадлежности
                  li Фен
                  li Сейф
                  li Гладильная доска и утюг
                  li Плита, холодильник, чайник, тостер, посуда
                a(class="btn btn--orange" href="#") Бронировать
                +e.A.link-more(href="double-deluxe.html") Подробнее