// Переменные модульной сетки

// Ширины экранов
// @width_desktop_wide:                  1920px;
// @width_desktop_middle:                1440px;
@width_desktop_min:                   1200px;
@width_tablet:                        768px;
@width_phone:                         320px;

// @width_desktop_middle_max:            ( @width_desktop_wide - 1 );
// @width_desktop_min_max:               ( @width_desktop_middle - 1 );
@width_tablet_max:                    ( @width_desktop_min - 1 );
@width_phone_max:                     ( @width_tablet - 1 );

// Ширины контентных областей
// @container_desktop_wide:              @width_desktop_wide;
// @container_desktop_middle:            @width_desktop_middle;
@container_desktop_min:               @width_desktop_min;
@container_tablet:                    @width_tablet;
@container_phone:                     @width_phone;

// Расстоянии между колонками модульной сетки
@indent-col:                          30px;

// Соотношение сторон фотографий (высота элемента в % от его ширины)
@vertical-ratio-one:                  130%;
@vertical-ratio-two:                  133%;
@horizontal-ratio:                    72.3%;


// Цветовая палитра
@white:                               #ffffff;
@black:                               #333333;
@grey:                                #f1f1f1;
@warm-grey:                           #767676;
@red-two:                             #ff0000;
@pumpkin-orange:                      #fe8205;


// Шрифты
@open:                                'Open Sans', sans-serif;
@lora:                                'Lora', serif;