mixin rooms-important()
  +b.rooms-important&attributes(attributes)
    +e.inner
      +e.UL.row
        li Размещение с домашними животными не допускается
        li Курение на территории отеля запрещено
        li Персонал говорит на русском, английском 