mixin news-item(title, date, text, text2, imgUrl, alt)
  +e.item&attributes(attributes)
    +e.news-block
      +e.content
        H3= title
        span= date
        p= text
        p= text2
    +e.visual
      +e.photo-box
        +e.IMG.img(src= imgUrl, alt= alt)