mixin city()
  +b.SECTION.city&attributes(attributes)
    +e.inner
      +e.SPAN.slogan О городе
      +e.H2.title Самый романтичный город страны
      +e.P.des Санкт-Петербург — город, где разводные мосты соединяют сердца людей с разных берегов. Город рек и каналов — наша Северная Венеция! Здесь самые обычные дома дышут вековой историей. Место, пропитанное романтикой белых ночей.
    +e.slider-inner
      +e.slider(id="city-slider")
        +e.slider-item
          +e.photo(style="background-image: url(img/city/city-1.jpg)")
            //- img(src="/img/city/city-1.jpg", alt="Исаакиевский собор")
        +e.slider-item
          +e.photo(style="background-image: url(img/city/city-2.jpg)")
            //- img(src="/img/city/city-2.jpg", alt="Спас на Крови")
        +e.slider-item
          +e.photo(style="background-image: url(img/city/city-3.jpg)")
            //- img(src="/img/city/city-3.jpg", alt="Развод мостов в Санкт-Петербурге")