mixin excursion()
  +b.SECTION.excursion&attributes(attributes)
    +e.inner
      +e.SPAN.slogan Экскурсии
      +e.H2.title Почувствуйте атмосферу настоящего Санкт-Петребурга!
    +e.slider-inner
      +e.slider(id="excursion-slider")
        +e.slider-item
          +e.photo(style="background-image: url(img/city/city-1.jpg)")
            +e.slide-content
              +e.slide-text
                span Исаакиевский собор
                p Потрясающая экскурсия с подъемом на колонаду
        +e.slider-item
          +e.photo(style="background-image: url(img/city/city-2.jpg)")
            +e.slide-content
              +e.slide-text
                span Спас на Крови
                p Потрясающая экскурсия с подъемом на колонаду
        +e.slider-item
          +e.photo(style="background-image: url(img/city/city-3.jpg)")
            +e.slide-content
              +e.slide-text
                span Разводные мосты
                p Потрясающая экскурсия с подъемом на колонаду
    +e.inner
      +e.P.des Мы рады помочь вам в любых возникающих вопросах и предоставить широкий спектр дополнительных услуг, таких как экскурсионное обслуживание, заказ билетов, броинрование стоилков в ресторанах и прочее. Подробности по телефону: <a href="tel:+7 (931) 002 81 84">+7 (931) 002 81 84</a>

      +e.A.link(href="#") Подробнее об экскурсиях